#toolbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 45px;
    background: #D95F4F;

    .cancel-list,
    .save-list {
        position: absolute;
        z-index: 1;
        display: block;
        margin: 7px 5px;
        height: 30px;
        color: #ffffff;
        border: 0px solid;
        padding: 0px 10px;
        cursor: pointer;
        @include border-radius(3px);
        background: #9D4535;
        font-weight: lighter;
        font-size: 13px;
    }
    .save-list {
        float: right;
        position: relative;
    }
}

#toolbar span {
    position: absolute;
    color: #ffffff;
    @include text-shadow(0 1px 0px #000);
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    font-weight: lighter;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 45px;
    width: 210px;
}