.items-holder {
    position: relative;
    top: 44px;
}

.new-holder {
    background: #ffffff;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;

    input {
        padding: 16px 10px;
        font-size: 14px;
        margin: 0 10px 0 0;
        border: 0px none;
        width: 220px;
        background: #ffffff;
    }

    .add-new-task {
        color: #ffffff;
        font-size: 14px;
        padding: 8px 15px;
        background: #515D6F;
        border: 0px solid;
        width: 60px;
        cursor: pointer;
        @include border-radius(3px);
        font-weight: lighter;
    }
}

.items-active {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border-bottom: 1px solid #cccccc;
        padding: 12px 10px;
        line-height: 24px;
        font-weight: lighter;
        @include text-shadow(0 0 1px #ffffff);
    }
}

.devider {
    background: #CCCCCC;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: lighter;
}

.clear-done {
    float: right;
    text-decoration: none;
    font-size: 14px;
    color: #0085B2;
}

.items-done {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border-bottom: 1px solid #cccccc;
        padding: 10px;
        line-height: 24px;
        color: #999999;
        font-weight: lighter;
    }
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 5;
    display: none;
    opacity: 0;
}

.overlay-panel {
    display: none;
    text-align: center;
    padding: 20px 0;
}
