@import 'compass'; // Compass
@import 'buttons'; // All buttons
@import 'header'; // Headers - sidebar and lists
@import 'sidebar'; // Sidebar
@import 'list'; // List of To-Do's
@import 'edit-lists'; // Edit Lists
@import 'snap'; // Snap - animation for swipes

.color {
    border: 2px solid #fff;
    box-shadow: 0 0 2px #999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}