.sidebar {
    background: #202022;
    color: #f3f3f3;
    li {
        padding: 0;
    }
    .active-list {
        background-color: #0055ff;
    }
    a:hover {
        background-color: #0099ff;
    }
}

.list-menu {
    line-height: 44px;
    height: 45px;
    padding: 0 0 0 10px;
    font-size: 20px;
}

.list-menu a {
    float: right;
    color: #FFF;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 44px;
    text-align: center;
    margin: 7px 5px 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

#add-list-show {
    font-size: 20px;
    font-weight: bold;
}

.delete {
    background-color: red;
    border: 2px solid white;
    border-radius: 11px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 12px 10px 0;
    display: inline-block;
    float: left;
    display: none;
}


.mode-edit {
    background-color: black;
}
.mode-edit li a {
    color: #ccc !important;
}
.mode-edit .active-list {
    background-color: black;
}
.mode-edit li a:hover {
    background-color: #999;
}



