.sidebar {
    background: #202022;
    color: #f3f3f3;
    li {
        padding: 0;
    }
    .active-list,
    li:hover {
        background-color: #0099ff;
    };
}

.list-menu {
    line-height: 44px;
    padding: 0;
    font-size: 20px;
}

#add-list-show {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    text-align: center;
    margin: 7px 5px;
    height: 30px;
    line-height: 30px;
}