<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Taskino</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body id="app">
        <div class="relative tall">
            <div class="drawers absolute sidebar">
                <div class="left-drawer absolute">
                    <div>
                        <div class="list-menu">
                            Lists
                            <a href="javascript:void(0)" id="add-list-show">+</a>
                            <a href="javascript:void(0)" id="edit-list-show">Edit</a>
                        </div>
                        <ul>
                            <li class="list" id="all-list">
                                <a href="javascript:void(0)" class="active-list" data-list-id="">All Tasks</a>
                            </li>
                            <li class="list" id="default-list">
                                <a href="javascript:void(0)" data-list-id="0">Default</a>
                                <span class="color" style="background-color: #9D4535"></span>
                            </li>
                        </ul>
                        <ul id="lists"></ul>
                    </div>
                </div>
            </div>

            <div id="content" class="absolute items scrollable">
                <div id="toolbar" class="absolute toolbar">
                    <a href="javascript:void(0)" id="open-left"></a>
                    <span class="active-list-title"></span>
                    <span class="active-list-total"></span>
                </div>
                <div class="relative tall">
                    <div class="items-holder">
                        <div class="new-holder">
                            <input id="new-item" placeholder="Don't forget to ...">
                            <button type="submit" class="add-new-task" id="add-new">Add</button>
                        </div>

                        <ul id="items-active" class="items-active"></ul>
                        <div class="devider" id="recently-done-title">
                            Recently Done <a href="javascript:void(0)" class="clear-done">Clear All</a>
                        </div>
                        <ul id="items-done" class="items-done"></ul>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/template" id="item-template">
            <div class="item-list" style="border-left: 3px solid <%- color %>">
                <%- title %>
            </div>
        </script>

        <script type="text/template" id="lists-template">
            <span class="delete" data-list-id="<%- id %>">-</span>
            <a href="javascript:void(0)" data-list-id="<%- id %>"><%- name %></a>
            <span class="color" style="background-color: <%- color %>"></span>
        </script>

        <div id="overlay" class="edit-lists">
            <div class="add-new-list overlay-panel">
                <div id="toolbar" class="absolute toolbar">
                    <span class="edit-list-title">Add New List</span>
                    <button type="submit" class="cancel-list overlay-cancel">Cancel</button>
                </div>
                <div class="new-holder">
                    <input id="new-list" placeholder="Name of new list" autofocus>
                    <button type="submit" class="add-new-list-button" id="add-list">Add</button>
                </div>
                <div class="colors-holder">
                    Choose color:
                    <span class="color choose-color selected-color" style="background-color: #9D4535" data-color="#9D4535"></span>
                    <span class="color choose-color" style="background-color: #0099ff" data-color="#0099ff"></span>
                    <span class="color choose-color" style="background-color: #9900ff" data-color="#9900ff"></span>
                    <span class="color choose-color" style="background-color: #00ff99" data-color="#00ff99"></span>
                    <span class="color choose-color" style="background-color: #ff0099" data-color="#ff0099"></span>
                </div>
            </div>

            <div class="edit-list overlay-panel">
                <div id="toolbar" class="absolute toolbar">
                    <span class="edit-list-title">Edit List</span>
                    <button type="submit" class="cancel-list overlay-cancel">Cancel</button>
                </div>
                <div class="new-holder">
                    <input id="edit-list-name" class="edit-list-name" placeholder="New list name">
                    <button type="submit" class="rename-list-button" id="rename-list">Rename</button>
                </div>
                <div class="delete-notice">
                    <p>Deleting list will delete all items from list permanently.</p>
                    <button type="submit" class="remove-list" id="remove-list">Delete</button>
                </div>
            </div>
        </div>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
