/********************************************************************
    Footer
********************************************************************/

footer {
    background: #ffffff;
    padding: 10px 0px 0px 0px;

    .twitter-share {
        background: url('../img/twitter-share.png') left center no-repeat;
        padding: 10px 0 10px 40px;
        margin: 10px 0 25px 0;
    }
}

.footer-content {
    @include container;
    margin: 0px auto;
    display: block;

    @include at-breakpoint(48em 8) {
        @include container;
    }

    @include at-breakpoint(58em 14) {
        @include container;
    }

    p {
        color: #333333;
        font-weight: lighter;

        a {
            color: #0085B2;
            text-decoration: none;
        }
    }
}