/********************************************************************
    Header
********************************************************************/

header {

}

.logo {

    a {
        background: url('../img/taskino-logo.png') top left no-repeat;
        width: 184px;
        height: 42px;
        display: block;
        overflow: hidden;
        text-indent:100%;
        white-space: nowrap;
    }
}



