/********************************************************************
    Header
********************************************************************/

header {

}

.logo {

    a {
        background: url('../img/taskino-logo.png') top left no-repeat;
        width: 184px;
        height: 42px;
        display: block;
        overflow: hidden;
        text-indent:100%;
        white-space: nowrap;
        background-size: 85%;

        @include at-breakpoint(58em 14) {
            background-size: 100%;            
        }
    }
}



