
$total-columns: 6;

/********************************************************************
    Layout
********************************************************************/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    color: rgba(255,255,255,1); // #ffffff
}

.wrapper {
    background-color: #D96143;
    background-color: rgba(217,97,67,1); //#D96143
    background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 1px, rgba(221,112,85,0.5) 1px, rgba(221,112,85,0.5) 8px);
    background-image: -moz-repeating-linear-gradient(135deg, transparent, transparent 1px, rgba(221,112,85,0.5) 1px, rgba(221,112,85,0.5) 8px);
    background-image: -ms-repeating-linear-gradient(135deg, transparent, transparent 1px, rgba(221,112,85,0.5) 1px, rgba(221,112,85,0.5) 8px);
    background-image: -o-repeating-linear-gradient(135deg, transparent, transparent 1px, rgba(221,112,85,0.5) 1px, rgba(221,112,85,0.5) 8px);
    background-image: -repeating-linear-gradient(135deg, transparent, transparent 1px, rgba(221,112,85,0.5) 1px, rgba(221,112,85,0.5) 8px);
    background-size: 100% 100%;
    width: 100%;

    h2 {
        font-weight: normal;
        font-size: 36px; // 52px
        @include text-shadow(0 1px 1px #9D4630);
        margin: 10% 0 10% 0;
        position: relative;
        left: -200%;

        @include at-breakpoint(58em 14) {
            font-size: 48px;
            margin: 60px 0 40px 0;
        }
    }

    p {
        @include text-shadow(0 1px 1px #9D4630);
        font-weight: lighter;
        position: relative;
        left: -200%;
    }
}

.container {
    padding: 40px 0 0 0;
    margin: 0px auto;
    display: block;
    @include container;
    
    @include at-breakpoint(48em 9) {
        @include container;
    }

    @include at-breakpoint(58em 14) {
        @include container;
    }
}

.content-left {
    @include span-columns(14 omega, 14);

    @include at-breakpoint(48em 9) {
        // Establish our new 8-column container.
        @include span-columns(5, 9);
    }

    @include at-breakpoint(58em 14) {
        @include span-columns(8, 14);
    }
}

.content-right {
    @include span-columns(14 omega,14);
    position: relative;

    @include at-breakpoint(48em 9) {
        // Establish our new 8-column container.
        @include span-columns(4 omega, 9);
        margin-top: 60px;
    }

    @include at-breakpoint(58em 14) {
        @include span-columns(6 omega, 14);
        margin-top: 0px;
    }
}

.firefox-marketplace {
    background: url('../img/firefox-marketplace.png') #eeeeee center center no-repeat;
    float: left;
    width: 100%;
    padding: 38px 0px;
    @include border-radius(3px);
    overflow: hidden;
    text-indent:100%;
    white-space: nowrap;
    margin: 20px 0px 10px 0px;
    position: relative;
    left: -200%;

    @include at-breakpoint(58em 14) {
        width: 65%;
        margin: 60px 0px 60px 0px;
        padding: 6.5% 0;
        background-size: 100%;
    }

    &:hover {
        @include box-shadow(0 0 10px #9D4630);
        background-color: #ffffff;
    }
}

.github {
    background: url('../img/github.png') #ffffff center center no-repeat;
    float: left;
    width: 100%;
    padding: 38px 0px;
    @include border-radius(3px);
    overflow: hidden;
    text-indent:100%;
    white-space: nowrap;
    opacity: 0.5;
    margin: 20px 0px 30px 0px;
    position: relative;
    left: -200%;

    @include at-breakpoint(58em 14) {
        width: 30%;
        margin: 60px 0px 60px 15px;
        padding: 6.5% 0;
    }

    &:hover {
        @include box-shadow(0 0 10px #9D4630);
        opacity: 1;
    }
}

.transition-left {
    h2 {
        @include transition(left 0.4s ease);
        left: 0;
    }

    p {
        @include transition(left 0.8s ease);
        left: 0;
    }

    .firefox-marketplace,
    .github {
        @include transition(left 1.2s ease);
        left: 0;

        &:hover {
            @include transition(all 0.3s ease-in-out);
        }
    }
}

.smartphone {
    background: #333333;
    height: 420px;
    width: 280px;
    padding: 10px;
    margin: 0 auto 30px auto;
    position: relative;
    top: -800px;

    @include at-breakpoint(48em 9) {
        background: url("../img/smartphone.png") top center no-repeat;
        padding: 67px 31px 181px 31px;
        background-size: 100%;
        height: 276px;
        margin: 0;
        width: 240px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    @include at-breakpoint(58em 14) {
        height: 480px;
        width: 320px;
        padding: 89px 40px 120px 40px;
        position: absolute;
        right: 0px;
        margin-bottom: 0px;
    }
}

.transition-top {

    .smartphone {
        @include transition(top 2s ease);
        top: 0;
    }
}